$menu-active-color: rgba(41, 41, 41, 1);

.ant-layout-header {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px rgba(41, 41, 41, 1);
  padding: 0;
  line-height: 63px;
  .header-menu{
    display: flex;
    max-width: 1192px;
    margin: 0 auto;
    .logo{
      margin-right: 15px;
      img{
        width: 105px;
      }
    }
    .menu-item{
      a{
        color: rgba(41, 41, 41, 0.8);
        font-size: 16px;
      }
      &.ant-menu-item-selected{
        color: $menu-active-color;
        a{
          color: $menu-active-color;
        }
        &::after{
          border-color: $menu-active-color;
        }
      }
      &:hover{
        color: $menu-active-color;
        a{
          color: $menu-active-color;
        }
        &::after{
          border-color: $menu-active-color;
        }
      }
    }
 
  }
}
.site-layout{
  background: #fff;
  margin-top: 64px;
  min-height: 520px;
  .site-layout-background{
    max-width: 1192px;
    margin: 28px auto;
  }
}
.footer{
  background: #fff;
  text-align: center;
}